
.center-user {
    background-image: url('/src/assets/birds.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
  }
  
  .profile {
    width: 18rem;
    margin-left: 100px;
  }
  
  .card_and_history{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .profil_history{
    align-items: center;
  }
  
  .hand-cursor {
    cursor: pointer;
  }
  
  #list_history {
    width: 600px;
  }

  .h3_profile{
    margin-right: 150px;
  }
  